@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-color: #25bb00;
  --gradient-color: rgb(22, 146, 0);
}
/* :root {
  --main-color: #ff4b2b;
  --gradient-color: rgb(255, 0, 106);
} */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

h1,
h2 {
  font-size: 2rem;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  padding: 0.7rem 2.5rem;
  color: #fff;
  border-radius: 20px;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  font-weight: bolder;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

button:active {
  transform: scale(0.93);
}
.container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 90%;
  max-width: 800px;
  position: relative;
  min-height: 480px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.form-container form {
  background: #fff;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.social-container {
  margin: 20px 0;
}
.form-container input {
  margin: 0.5rem auto;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  width: 100%;
  background: rgb(238, 238, 238);
}
.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  /* box-shadow: 0 0 8px rgb(0, 255, 0) inset; */
}

.form-container.sign-in-container {
  z-index: 3;
  left: 0;
}
.form-container.sign-up-container {
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  height: 100%;
  position: relative;
  color: #fff;
  width: 200%;
  left: -100%;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--gradient-color) 70%
  );
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 0 1.5rem;
  transition: transform 0.6s ease-in-out;
}
.overlay-left {
  transform: translateX(-20%);
}
.overlay-right {
  right: 0;
  transform: translateX(0%);
}

/* animations */

/* display-sign-up container by moving them to the right */

.container.display-sign-up .sign-in-container {
  transform: translateX(100%);
}

.container.display-sign-up .sign-up-container {
  opacity: 1;
  z-index: 4;
  transform: translateX(100%);
}

/* move overlay container to the left */

.container.display-sign-up .overlay-container {
  transform: translateX(-100%);
}

.container.display-sign-up .overlay {
  transform: translateX(50%);
}

/* little animation to the content in overlay-panel */

.container.display-sign-up .overlay-left {
  transform: translateX(0%);
}
.container.display-sign-up .overlay-right {
  transform: translateX(20%);
}

/* TODO: mobile layout */
